.total {
    margin-left: 2em;
      display: flex;
      min-width: 900px;
      background-color: var(--layout);
      padding: 0.5rem;
      align-items: center;
      border: 1px solid #043A33;
    
}