.haul-form {
  > textarea {
    height: 10rem;
    resize: none;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    border-color:black;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-radius: 0.5rem;
  //   width: 375px;
  background-color: var(--layout);
  &__direction {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
