#root {
  /* width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;  
}
.form-and-list {
  display: flex;
}

.truckTitle {
  background-color: var(--layout);
  margin-left: 2rem;
}
